[Desktop Entry]
Version=1.0
Name=DAGViz
GenericName=A Visualizer for Computation DAG
Comment=View and explore DAG traces of parallel programs
MimeType=text/english;text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/x-c;text/x-c++;
Exec=/usr/bin/dagviz %F
TryExec=dagviz
Icon=dagviz
Type=Application
Terminal=false
Categories=Utility;Development;Tool;
StartupWMClass=DAGViz
