[Desktop Entry]
Version=1.0
Name=DAGViz
GenericName=A Visualizer for Computation DAG
Comment=View and explore DAG traces of parallel programs
MimeType=
Exec=/usr/bin/dagviz %F
TryExec=dagviz
Icon=dagviz
Type=Application
Terminal=false
Categories=Utility;Development;Tool;
StartupWMClass=DAGViz
